### C ++ ###
# Предпосылки
* .d

# Скомпилированные объектные файлы
* .slo
* .lo
* .o
* .obj

# Предварительно скомпилированные заголовки
* .gch
* .pch

# Файлы компоновщика
* .ilk

# Файлы отладчика
* .pdb

# Скомпилированные динамические библиотеки
*.так
* .dylib
* .dll

# Файлы модуля Fortran
* .mod
* .smod

# Скомпилированные статические библиотеки
* .lai
* .la
* .a
* .lib

# Исполняемые файлы
*.EXE
*.из
*.приложение

### Linux ###
* ~

# временные файлы, которые могут быть созданы, если у процесса еще есть дескриптор удаленного файла
.fuse_hidden *

# Настройки каталога KDE
.directory

# Корзина для мусора Linux, которая может появиться на любом разделе или диске
.Мусор-*

# Файлы .nfs создаются, когда открытый файл удаляется, но к нему все еще обращаются
.nfs *
